<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Project Web Chat Trybe - Victor</title>
  </head>
  <body>
    <section class="titleSection"></section>

    <h2>Usuários Online</h2>
    <ul class="onlineUsers"></ul>

    <h3>Mensagens</h3>
    <ul class="messages">
    <% allMessages.forEach(({ message }) => { %>
      <li data-testid="message"><%= message %></li>
    <% }) %>
    </ul>

    <input type="text" placeholder="Editar Usuário" class="nicknameInput" data-testid="nickname-box">
    <button class="nicknameSaveButton" data-testid="nickname-button">Salvar</button>

    <input type="text" placeholder="Mensagem" class="messageInput" data-testid="message-box">
    <button class="sendMessageButton" data-testid="send-button">Enviar</button>

    <button class="excludeMessagesButton" >Excluir Mensagens</button>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src='./js/chatJS.js'></script>
</html> 
