<!DOCTYPE html>
<html>
  <head>
    <title>WebChat</title>
    <!-- <link rel="stylesheet" href="./css/chat.css"> -->
  </head>
  <body>
    <ul class="messages"></ul>
    <form action="">
      <input class="nicknameInput" autocomplete="off" />
      <input class="messageInput" autocomplete="off" />
      <button>Enviar</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chat.js'></script>
  </body>
</html>