<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Web Chat</title>
  </head>
  <body>
    <div class="titleDiv"></div>
    <ul class="onlineUsers"></ul>
    <ul class="messages">
        <% allMessages.forEach((message) => { %>
          <li data-testid="message"><%= message.message %></li>
        <% }) %>
    </ul>
      <input type="text" class="nicknameInput" data-testid="nickname-box">
    <button class="nicknameSaveButton" data-testid="nickname-button">Salvar</button>
    <input type="text" class="messageInput" data-testid="message-box">
    <button class="sendButton" data-testid="send-button">Enviar</button>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src='./js/chatJS.js'></script>
</html> 
